@import './variables';

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
img{
  max-width: 100%;
  max-height: 100%;
}

#app{
  width: 90vw;
  max-width: 960px;
  height: 90vh;
  background-color: $foreground-color;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,.1);
}

.header {
  background-color: $primary-color;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.container{
  position: relative;
  height: 100%;
  transition: transform .3s ease-in-out;
  overflow: hidden;
}
.intro{
  height: 40%;
}

.page-1{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: transform .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.page-1.exit{
  transform: translateX(-100%);
}

.page-2{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.page-2.hidden{
  transform: translateX(100%);
}

.login{
  flex-basis: 30vh;
  width: 80%;
}

.enter {
  transform: scale(0);
}

@media only screen 
  and (max-device-width: 667px)  { 
    #app {
    width: 100vw;
    height: 100vh;
  }
  .login{
    width: 100%;
  }
 }