<li class="js-joke list-item" data-id="{{item.id}}" data-text="{{item.joke | safe}}">
	<div class="list-item__text">
		{{item.joke | safe}}
	</div>
	
	{% if item.isFavortie %}
		<i class="js-remove material-icons list-item__icon">&#xE92B;</i>
	{% else %}
		<i class="{%if item.isRandom %} js-add-from-random {% else %}js-add-favorite {% endif %} material-icons list-item__icon">&#xE87E;</i>
	{% endif %}
</li>