<ul class="js-jokes-list">
	{% for item in items %}
		{% include "./partials/joke.njk" ignore missing %}
	{% endfor %}
</ul>
<ul class="js-jokes-favorites">
	{% for item in favorites %}
		{% include "./partials/joke.njk" ignore missing %}
	{% endfor %}
</ul>
<div id="count">{{favorites.length}} / {{maxLength}}</div>